<template name="components_deploy">
    {{#with TemplateVar.get 'tokenState'}}
        {{#if isUndeployed}}
		<label>Deploy Standard Token</label>
		<input type="number" class="form-control" id="initial-amount" value="" placeholder="i.e. Initial Token Amount" />
		<br />
		<br />

        <button class="btn btn-token-deploy btn-primary">
            <i class="glyphicon glyphicon-download-alt"></i>
            Deploy A Token
        </button>
		{{/if}}

        {{#if isMining}}
        <div class="alert alert-info">
            Your token is being deployed...
            <i class="fa fa-spinner fa-pulse"></i>
        </div>
        {{/if}}

        {{#if isError}}
        <div class="alert alert-warning">
            There was an error deploying your token. 
			The error was {{error}}
        </div>
        {{/if}}

        {{#if isMined}}
        <div class="alert alert-success">
            Your token has been deployed to this address: 
            <input type="text" class="form-control" value="{{address}}">
        </div>
        {{/if}}
	{{/with}}
	
    {{#with TemplateVar.get 'state'}}
        {{#if isUndeployed}}
		<label>Standard Token Address</label>
		<input type="text" class="form-control" id="token-address" value="0x78bfb8805c985cabeadf05694fa38c30b41cf2cc" placeholder="i.e. 0xfe23948..." />
	
		<label>Board Chair</label>
		<input type="text" class="form-control" id="chair-address" value="{{defaultAccount}}" placeholder="i.e. 0xfe23948..." />
	
		<label>Executive</label>
		<input type="text" class="form-control" id="executive-address" value="{{defaultAccount}}" placeholder="i.e. 0xfe23948..." />

		<br />
		<br />

        <button class="btn btn-deploy btn-primary">
            <i class="glyphicon glyphicon-download-alt"></i>
            Deploy A BoardRoom
        </button>
        {{/if}}

        {{#if isMining}}
        <div class="alert alert-info">
            Your BoardRoom is being deployed...
            <i class="fa fa-spinner fa-pulse"></i>
        </div>
        {{/if}}

        {{#if isError}}
        <div class="alert alert-warning">
            There was an error deploying your boardroom. The error was {{error}}
        </div>
        {{/if}}

        {{#if isMined}}
        <div class="alert alert-success">
            Your boardroom has been deployed to this address: 
            <input type="text" class="form-control" value="{{address}}">
        </div>

        <a href="/boardroom/{{address}}">
            <button type="button" class="btn btn-primary btn-goto">
                Goto your BoardRoom!
            </button>
        </a>
        {{/if}}
    {{/with}}
</template>