<template name="components_itemChild">
    <li class="list-group-item list-board-item row pointer">
        <a class="col-xs-2 col-sm-2 col-md-1"
           href="/boardroom/{{addr}}">
            {{> dapp_identicon identity=addr class="dapp-normal"}}
        </a>
        <div class="col-xs-8 col-sm-8 col-md-9 col-gutter">
            <a href="/boardroom/{{addr}}">
                <h2>{{> components_toName addr}}</h2>
            </a>
            <p>{{addr}}</p>
            <p>{{permission}}</p>
            <p>{{formatDate joined "YY:MM:DD HH:MM:SS"}}</p>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2">
            <a class="btn btn-default accounts-remove list-item-remove" 
                    data-address="{{addr}}" href="/boardroom/{{../boardroom.address}}/proposal/new/removeSubcommittee">
                <i class="glyphicon glyphicon-file "></i>
                Proposal Removal
            </a>
        </div>
    </li>
</template>