<template name="components_itemBoard">
    <li class="list-group-item list-board-item row pointer">
        <div class="col-xs-2 col-sm-2 col-md-1">
			{{> components_toIcon identity=address class="dapp-normal"}}
        </div>
        <a class="col-xs-8 col-sm-8 col-md-9 col-gutter"
            href="/boardroom/{{address}}">
            <h2>{{> components_toName address}}</h2>
            <input type="text" class="web3-address" 
                   value="{{address}}" />
        </a>
        <div class="col-xs-2 col-sm-2 col-md-2">
        </div>
    </li>
</template>