<template name="components_itemParent">
    {{#if address}}
    <div class="item-parent">
        <div class="col-xs-2 col-sm-2 col-md-1">
        {{> dapp_identicon identity=address class="dapp-normal"}}
        </div>
        <a class="col-xs-8 col-sm-8 col-md-9 col-gutter"
            href="/boardroom/{{address}}">
            <h2>{{> components_toName address}}</h2>
            <input type="text" class="web3-address" 
                   value="{{address}}" />
        </a>
        <div class="col-xs-2 col-sm-2 col-md-2">
            <a class="btn btn-default accounts-remove 
                      list-item-remove"                href="/boardroom/{{address}}/proposal/new/parent"
                    data-address="{{address}}">
                <i class="glyphicon glyphicon-file 
                          text-proposal"></i>
                Propose Destruction
            </a>
        </div>
    </div>
    {{/if}}
</template>