<template name="components_proposalVote">
    <h5 class="proposal-expiry text-uppercase">
        Voting Ends {{formatTime expiry "fromnow"}}
    </h5>
    
    <h2 class="proposal-active">
        {{#if isExecutable}}
        <span class="text-success">
            <i class="glyphicon glyphicon-flash"></i>
            Proposal Won
        </span>
        {{/if}}
        
        {{#if executed}}
        <span class="text-success">
            <i class="glyphicon glyphicon-refresh"></i>
            Proposal Executed!
        </span>
        {{/if}}
        
		{{#unless isExecutable}}
			{{#if isVotable}}
			<span class="text-info">
				<i class="glyphicon glyphicon-refresh"></i>
				Proposal Active
			</span>
			{{/if}}
		{{/unless}}
    </h2>
    
    <h5 class="proposal-backers text-muted">
        This proposal has {{numVotes}} voters
    </h5>
    
    <hr />
    <div class="row proposal-visual">
        <div class="col-xs-7">
            <!--<canvas id="proposalChart" class="proposal-chart"
                    width="150" height="150"></canvas>-->
            <div id="proposalChart" 
                 class="ct-chart ct-perfect-fourth"></div>
        </div>

        <ul class="list-group col-xs-5 text-uppercase
                   list-proposal-votes list-naked">
            <li class="list-group-item">
                <strong>{{numWeightFor}} ({{numFor}})</strong> for
            </li>
            <li class="list-group-item">
                <strong>{{numWeightAgainst}} ({{numAgainst}})</strong> against
            </li>
            <li class="list-group-item">
                <hr />
            </li>
            <li class="list-group-item">
                <strong>of {{numVotes}} members</strong>
            </li>
        </ul>
    </div>
    
    <hr class="spacer" />
    
    <ul class="list-group list-proposal-vote list-inline">
        {{#if isExecutable}}
        <li class="list-group-item">
            <button class="btn btn-success btn-execute"
                    data-type="2">
                <i class="glyphicon glyphicon-flash"></i>
                Execute
            </button>
        </li>
        {{/if}}
        
		{{#unless isExecutable}}
			{{#if isVotable}}
			<li class="list-group-item">
				<button class="btn btn-vote btn-vote-for btn-info" 
						data-type="1">
					<i class="glyphicon glyphicon-ok"></i>
					For
				</button>
			</li>    
			<li class="list-group-item">
				<button class="btn btn-vote btn-vote-against btn-warning" 
						data-type="0">
					<i class="glyphicon glyphicon-remove"></i>
					Against
				</button>
			</li>
			<li class="list-group-item">
				<button class="btn btn-vote btn-vote-abstain" 
						data-type="3">
					<i class="glyphicon glyphicon-share-alt" data-type="1"></i>
					Delegate
				</button>
			</li>
			{{/if}}
		{{/unless}}
    </ul>
    
    {{#with TemplateVar.get 'state'}}
        {{#if isMining}}
            <div class="alert alert-info">
                Your decision is being processed... This may take a minute.
                <i class="fa fa-cog fa-spin"></i>
            </div>
        {{/if}}

        {{#if isError}}
            <div class="alert alert-warning">
                There was an error processing your decision.
                The error was: {{error}}
            </div>
        {{/if}}

        {{#if isVoted}}
            <div class="alert alert-success">
                Your vote has successfully been processed!
            </div>
        {{/if}}

        {{#if isDelegated}}
            <div class="alert alert-success">
                Your delegation has successfully been processed!
            </div>
        {{/if}}

        {{#if isExecuted}}
            <div class="alert alert-success">
                This proposal has successfully been executed!
            </div>
        {{/if}}
    {{/with}}
    
    <h5 class="proposal-created">
        Created 
        {{formatTime created "fromnow"}}
    </h5>
    
    {{refresh}}
</template>