<template name="components_proposalHeader">
    {{#with toKind kind}}
    <i class="proposal-icon {{icon}}"></i>
    {{/with}}
    
    <h1 class="proposal-header text-center">
        {{#if name}}
            {{name}}
        {{else}}
            {{#with toKind kind}}
                {{title}}
            {{/with}}
        {{/if}}
    </h1>

    <h4 class="proposal-subheader text-center">
        {{> dapp_identicon identity=from class="dapp-small icon proposal-member-icon" style="width: 20px; height: 20px;"}}
        <span class="member">
            {{> components_toName from}}
        </span>
        <span class="type">
            {{#with toKind kind}}
                • {{name}}
            {{/with}}
        </span>
    </h4>
</template>