<template name="views_about">
    <h2>About BoardRoom</h2>
    
    <p class="description description-about">
        Here you can learn about the BoardRoom apparatus.
    </p>
    
    <hr />
    
    <p>Originally envisioned as a utility to simulate the boardroom on the blockchain. BoardRoom addresses the central question: how can an organization like a Corporation, Non-Profit or DCO integrate themselves into the blockchain? Our answer, through a decentralized application that leverages a series of smart-contracts which simulate organizational structure, growth and communication.</p>

    <p>BoardRoom starts the conversation on blockchain governance, by providing a world-class suite of governance technologies that can be extended to interact with nearly any Ethereum asset or service, such as: digital asset, equity or information systems.</p>
</template>