<template name="views_accounts">
    <h1>Accounts</h1>
    
    <p class="description description-accounts">Here you can generate, manage, select and remove Ethereum accounts in browser.</p>
    
    <ul class="list-group list-accounts-nav list-inline">
        <li class="list-group-item">
            <button type="button" class="btn btn-default" id="accounts-new">
                New
            </button>
        </li>
        <li class="list-group-item">
            <button type="button" class="btn btn-default" id="accounts-backup">
                Backup
            </button>
        </li>
        <li class="list-group-item">
            <a class="btn btn-default" href="/namereg/">
                NameReg
            </a>
        </li>
    </ul>
    
    <h3>Node Accounts</h3>
    
    <ul class="list-group list-accounts">
    {{#with selected}}
        {{#each ethAccounts}}
            {{> components_itemAccount}}
        {{/each}}
    {{/with}}
    </ul>
    
    <h3>Browser Accounts</h3>
    
    <ul class="list-group list-accounts">
    {{#with selected}}
        {{#each accounts}}
            {{> components_itemAccount}}
        {{/each}}
    {{/with}}
    </ul>
</template>