<template name="views_members">
    <!-- to display all BoardRoom members -->
    <h2>
        <i class="glyphicon glyphicon-user 
 text-member"></i>
        Registered Members
    </h2>
    
    <p class="description description-members">View registered members of the board. This only accounts for members who have registered. Note, there may be other members that have not registered.</p>
	
	<label>Selected Account</label>
	<b>{{selectedAccount}}</b>
	
	<label>Account Address</label>
	<input type="text" class="form-control" id="member-address" placeholder="Address" />
	
	<br />
    
    <ul class="list-group list-members-nav list-inline">
        <li class="list-group-item">
            <a id="register-member"
               class=" btn btn-default">
                <i class="glyphicon glyphicon-user 
                          text-proposal"></i>
                Register My Account
            </a>
        </li>
        <li class="list-group-item">
            <a id="unregister-member"
               class=" btn btn-default">
                Unregister
            </a>
        </li>
        <li class="list-group-item">
            <a id="check-member"
               class=" btn btn-default">
                Check Membership
            </a>
        </li>
    </ul>
    
    <hr style="margin-bottom: 0px;" />
    
    <ul class="list-group list-members">
    {{#each members}}
        {{> components_itemMember}}
    {{/each}}
    </ul>
	
	{{#with TemplateVar.get 'state'}}
        {{#if isUndeployed}}
        {{/if}}

        {{#if isMining}}
        <div class="alert alert-info">
            Your transaction is being mined {{transactionHash}}
            <i class="fa fa-spinner fa-pulse"></i>
        </div>
        {{/if}}

        {{#if isMember}}
        <div class="alert alert-info">
        	This account is a member of the Board.
        </div>
        {{/if}}

        {{#if isNotMember}}
        <div class="alert alert-warning">
        	This account is not a member of this Board.
        </div>
        {{/if}}

        {{#if isError}}
        <div class="alert alert-warning">
            There was an error with your transaciton. The error was {{error}}
        </div>
        {{/if}}

        {{#if isMined}}
        <div class="alert alert-success">
            Your transaction was successfull! {{message}}
        </div>
        {{/if}}
    {{/with}}
</template>