<template name="views_newProposal">
    <div class="new-proposal col-md-9 col-lg-6 col-sm-12 col-gutter">
        <h2 class="new-proposal-header">
            <i class="glyphicon glyphicon-file 
 text-proposal"></i>
            New Proposal
        </h2>

        <p class="description description-new-proposal">Here you can build and table a new proposal.</p>
        
        <hr class="spacer" />

        <ul class="list-group list-new-proposal">
            <li class="list-group-item">
                <select class="form-control"
                        id="proposalKind">
                    <option value="0">
                        Proposal Kind
                    </option>
                    {{#each proposalKinds}}
						{{#if $eq TemplateVar.get 'selectedKind' name}}
						<option value="{{id}}" selected>
							{{name}}
						</option>
						{{else}}
						<option value="{{id}}">
							{{name}}
						</option>
						{{/if}}
                    {{/each}}
                </select>
            </li>
		</ul>
		
		{{#with TemplateVar.get 'selectedKind'}}
			<li class="list-group-item">
				<h4>
					<i class="{{icon}}"></i>
					{{name}}
				</h4>
				<p class="well no-margin-bottom">
					<span>Type</span>
					<span class="badge">
						#{{id}}
					</span>
					<span>Caution Level</span>
					<span class="badge {{#if $eq cautionLevel 5}}bg-danger{{/if}} {{#if $eq cautionLevel 4}}bg-warning{{/if}} {{#if $eq cautionLevel 3}}bg-info{{/if}}">
						{{cautionLevel}}
					</span>
					<br />
					<br />
					{{description}}
					{{#if method}}
						<br />
						<label>API Method</label>
						{{method}}
						<br />
						<small><strong>L:</strong> {{hashOfMethod method}} </small>
						<!--<strong>R:</strong> {{methodProcessorHash id}}</small>
						{{#if methodHashesMatch}}
							<i class="glyphicon glyphicon-check text-success"></i>
						{{else}}
							<i class="glyphicon glyphicon-remove text-warning"></i>
						{{/if}}-->
					{{/if}}
				</p>
			</li>
			<li class="list-group-item">
				<label>
					Title
				</label>
				<p class="description description-proposal-name">
					Let other Board members know what this proposal is called.
				</p>
				<input type="text" class="form-control" 
					   id="proposalName"
					   placeholder="i.e. Send Funds to Treasury"/>
			</li>
			<li class="list-group-item">
				<label>
					Description
				</label>
				<p class="description description-proposal-name">
					Let other Board members know what this proposal will do.
				</p>
				<textarea class="form-control" id="proposalDescription" placeholder="i.e. These funds will be used for..."></textarea>
			</li>
			
			{{#each TemplateVar.get 'dataChunks'}}
			<div class="list-group-item chunk">
				<div style="border-radius: 5px; border: 1px solid #bbb; ">
					<h2 style="margin-left: 10px; margin-top: 10px;">
						Transaction Block: #{{chunkID}}
					</h2>
							
					{{#if $eq ../code 'setPersonaAttributes'}}
					<li class="list-group-item">
						<a href="/boardroom/{{boardroomAddress}}/persona" target="_blank">
							<button class="btn btn-default 
										   btn-build-persona">
								<i class="glyphicon glyphicon-plus text-info"></i>
								Build Persona Repository
							</button>
						</a>
					</li>
					{{/if}}
					
					{{#if ../data}}
						<li class="list-group-item">
						{{#each ../data}}
							<label>{{name}}</label>
							<p>{{description}}</p>

							{{#if isUint}}
								<input type="number" class="form-control proposal-data-value" 
									   id="proposalData_{{id}}_{{../chunkID}}"
									   data-chunk-id="{{../chunkID}}"
									   placeholder="i.e. 34" />
							{{/if}}

							{{#if isAddress}}
								<input type="text" class="form-control proposal-data-value" 
									   id="proposalData_{{id}}_{{../chunkID}}"
									   data-chunk-id="{{../chunkID}}"
									   placeholder="i.e. 0xfd7387e829..." />
							{{/if}}

							{{#if isBytes}}
								<input type="text" class="form-control proposal-data-value" 
									   id="proposalData_{{id}}_{{../chunkID}}"
									   data-chunk-id="{{../chunkID}}"
									   placeholder="i.e. Some Data" />
							{{/if}}

							{{#if isString}}
								<input type="text" class="form-control proposal-data-value" 
									   id="proposalData_{{id}}_{{../chunkID}}"
									   data-chunk-id="{{../chunkID}}"
									   placeholder="i.e. Some Text" />
							{{/if}}
						{{/each}}
						</li>
					{{/if}}

					<li class="list-group-item">
						<label>
							{{#if ../address.name}}
								{{../address.name}}
							{{else}}
								Address
							{{/if}}
						</label>
						<p class="description description-proposal-name">
							{{#if ../address.description}}
								{{../address.description}}
							{{else}}
								The address the transaction will be sent to.
							{{/if}}
						</p>
						<input type="text" class="form-control" 
							   id="proposalAddress_{{chunkID}}"
							   placeholder="i.e. 0xfd7387e829..."
							   value="{{#if ../address.isPersona}}{{personaAddress}}{{/if}}{{#if ../address.isBoardroom}}{{boardroomAddress}}{{/if}}"/>
					</li>

					<li class="list-group-item">
						<label>
							{{#if ../value.name}}
								{{../value.name}}
							{{else}}
								Value
							{{/if}}
						</label>
						<p class="description description-proposal-name">
							{{#if ../value.description}}
								{{../value.description}}
							{{else}}
								The amount of ether that will be removed from the Board's balance and sent to the specified address.
							{{/if}}
						</p>
						<input type="text" class="form-control" 
							   id="proposalValue_{{chunkID}}"
							   value="0"
							   placeholder="i.e. 4500"/>
					</li>

					<!--<li class="list-group-item">
						<label>
							Description
						</label>
						<p class="description description-proposal-name">
							Tell the Board what this transaction block will do. Plase note, this will not be stored in any way on the blockchain.
						</p>
						<textarea class="form-control" id="proposalDescription_{{chunkID}}" placeholder="i.e. Send funds..."></textarea>
					</li>-->
					
					<br class="clear" />
				</div>
			</div>
			{{/each}}
		
			<li class="list-group-item">
				<button class="btn btn-default 
							   btn-remove-chunk">
					<i class="glyphicon glyphicon-minus"></i>
					Remove Block
				</button>
				<button class="btn btn-default 
							   btn-add-chunk">
                    <i class="glyphicon glyphicon-plus text-info"></i>
					Add Transaction Block
				</button>
			</li>
		
			{{#unless id}}
			<li class="list-group-item">
				<label>
					Transaction Bytecode
				</label>
				<p class="description description-proposal-name">
					This will inject transaction bytecode into each of the outgoing Ethereum standard transactions. Transaction bytecode can do almost anything, but you must make sure the bytecode is valid and saved somewhere aside from BoardRoom, as you may need to provide it again for execution.
				</p>
				<textarea class="form-control" 
					   id="proposalBytecode"
					    placeholder="0xF0300090293000..."></textarea>
			</li>
			{{/unless}}
		
			<li class="list-group-item">
				<label>
					Estimate Gas Costs
				</label>
				<p class="description description-proposal-name">
					The approximate gas costs per address provided to table and execute this kind of proposal.
				</p>
				<p>Tabling Fee</p>
				<h4>{{estimateGas.tabling}} wei</h4>
				
				<p>Execution Fee</p>
				<h4>{{estimateGas.executing}} wei</h4>
			</li>
		
			<li class="list-group-item">
				<label>
					Disclaimer
				</label>
				
				<p class="text-warning description description-proposal-name">
					{{warning}}
				</p>
			</li>
		
            <li class="list-group-item">
                <hr />
            </li>
            <li class="list-group-item">
                <ul class="list-group list-inline 
                           list-menu-nav text-right">
					{{#with TemplateVar.get 'userStatus'}}
						{{#if canTable}}
							<li class="list-group-item">
								<button class="btn btn-default
											   btn-reset"
										id="proposalTable">
									Reset
								</button>
							</li>
							<li class="list-group-item">
								<button class="btn btn-default 
											   btn-table">
									<i class="glyphicon glyphicon-file"></i>
									Table Proposal
								</button>
							</li>
						{{else}}
							<li class="list-group-item">
            					<div class="alert alert-warning">
									You are not allowed to table proposals at this time.
								</div>
							</li>
							<li class="list-group-item">
								<button class="btn bg-muted">
									<i class="glyphicon glyphicon-close"></i>
									Table Proposal
								</button>
							</li>
						{{/if}}
					{{/with}}
                </ul>
            </li>
		
            <li class="list-group-item">
			{{#with TemplateVar.get 'state'}}
				{{#if isTabling}}
				<div class="alert alert-info">
					Your proposal is being processed...
					<i class="fa fa-spinner fa-pulse"></i>
				</div>
				{{/if}}

				 {{#if isAddingIPFS}}
				<div class="alert alert-info">
					Your proposal data is being stored on IPFS for proposal #{{proposalID}}
					<i class="fa fa-spinner fa-pulse"></i>
				</div>
				{{/if}}

				 {{#if isIPFSAdded}}
				<div class="alert alert-info">
					Your proposal data will be stored at this IPFS hash: {{hash}}
					<i class="fa fa-spinner fa-pulse"></i>
				</div>
				{{/if}}

				 {{#if isRegisteringHash}}
				<div class="alert alert-info">
					Your IPFS hash is being registered on the proposal hash registry with transaction hash: {{transactionHash}}
					<i class="fa fa-spinner fa-pulse"></i>
				</div>
				{{/if}}

				{{#if isError}}
				<div class="alert alert-warning">
					There was an error processing your proposal.. {{error}}
				</div>
				{{/if}}

				{{#if isMined}}
				<div class="alert alert-success">
					Your proposal has been tabled!

					<br /><br />
					<label>IPFS Hash</label>
					{{IPFS_hash}}

					<br /><br />
					<label>Table Transaction Hash</label>
					{{tableTransactionHash}}

					<br /><br />
					<label>Registry Transaction Hash</label>
					{{registryTransactionHash}}

					<br /><br />
					<label>Proposal ID#</label>
					{{proposalID}}
				</div>
				{{/if}}
			{{/with}}
			</li>
		{{/with}}
	</div>
</template>