<template name="views_parent">
    <h2>
        <i class="glyphicon glyphicon-eye-open 
 text-executive"></i>
        Executive
    </h2>
    
    <p class="description description-parent">Here you can view details and access the executive.</p>
    
    <ul class="list-group list-parent-nav list-inline">
        <li class="list-group-item">
            <a href="/boardroom/{{boardroom.address}}/proposal/new" 
               class=" btn btn-default">
                <i class="glyphicon glyphicon-file 
                      text-proposal"></i>
                Propose Executive Board
            </a>
        </li>
    </ul>
    
    {{#with board}}
        {{> components_itemParent}}
    {{/with}}
</template>