<template name="views_support">
    <h2>BoardRoom Support</h2>
    
    <p class="description description-about">
        Having trouble with BoardRoom? Contact us at the information below.
    </p>
    
    <hr />
    
    <h4>Active Support Contact</h4>
    
    <p class="description description-support-contact">
    Nick Dodson is the active support contact for the BoardRoom decentralized application. Please contact him by Skype, Email or Twitter at the information provided below. He generally responds within 24 hours.
    </p>

    <label>Skype</label>
    
    <p class="info info-skype">Call 
        <strong>@SilentCicero</strong>
    </p>

    <label>Twitter</label>
    
    <p class="info info-skype">Tweet
        <strong>@IAmNickDodson</strong>
    </p>

    <label>Email</label>
    
    <p class="info info-skype">
        <strong>thenickdodson@gmail.com</strong>
    </p>
    
    <hr />
    
    <h4>Website</h4>
    
    <p class="description description-support-contact">
    The BoardRoom website is where you can find information like the whitepaper, and team contacts.
    </p>
    
    <label>URL</label>
    
    <p class="info info-website">
        <a href="http://boardroom.to">boardroom.to</a>
    </p>
</template>